body {
    background: #E5E5E5;
}

.ecriptador__box {
    display: flex;
    flex-direction: column;
    margin: 24px 16px;
}

.tools__input {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
    background: #E5E5E5;
    border: none;
}

.tools__info {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
    margin-bottom: 16px;
}

.tools__buttons {
    display: flex;
    flex-direction: column;
}

.buttons__encrypt {
    width: 343px;
    height: 67px;
    background: #0A3871;
    border-radius: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.buttons__decrypt {
    width: 343px;
    height: 67px;
    border: 1px solid #0A3871;
    border-radius: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;
}
